<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Enter your email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">alarm</mat-icon>
  </mat-form-field>

  <mat-checkbox>Remember me</mat-checkbox>

  <button mat-button>Register</button>

  <button mat-button>Login</button>
</div>
