<div class="example-container">
  <mat-form-field>
    <input matInput (focusout)="focusOutFunction()" placeholder="Enter your email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    <!--<mat-icon *ngIf="getErrorMessage().length > 0" class="my-icon" matSuffix>error</mat-icon>-->
    <mat-icon *ngIf="email.invalid && emailInputFocusedOut" class="my-icon" matSuffix>error</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>

  <mat-checkbox>Remember me</mat-checkbox>

  <div class="button-row">
    <button mat-button>Login</button>
    <button mat-button>Register</button>
  </div>

</div>
