<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/news">
      <mat-icon>home</mat-icon>
      News
    </span>

    <span routerLink="/events">
      <mat-icon>home</mat-icon>
      Events
    </span>

    <span routerLink="/login">
      <mat-icon>home</mat-icon>
      Login
    </span>

    <span routerLink="/register">
      <mat-icon>home</mat-icon>
      Register
    </span>

    <span routerLink="/locations">
      <mat-icon>home</mat-icon>
      Locations
    </span>

    <span routerLink="/activity">
      <mat-icon>home</mat-icon>
      Activity
    </span>

    <span routerLink="/activity-type">
      <mat-icon>home</mat-icon>
      Activity Types
    </span>

  </mat-toolbar-row>
</mat-toolbar>

<div class="app-container">
  <router-outlet></router-outlet>
</div>
