.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.app-container {
  width: max-content;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
}


mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.5);
}

mat-toolbar-row mat-icon {
  vertical-align: middle;
}
