<mat-list>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ location.locationName }}</mat-card-title>
      <mat-card-subtitle>{{ location.coordinates }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ location.imgUrl }}" alt="{{ location.locationName }}">
    <mat-card-actions>
      <button mat-button [routerLink]="['/locations/edit', location.id]">Edit</button>
      <button mat-button (click)="deleteFunc()">Delete</button>
    </mat-card-actions>
  </mat-card>
</mat-list>
